@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
body{
  font-family: "Sora",sans-serif;
  overflow-x: hidden;
  
  background-color:#0F131B;
}